@*@model PagedList.IPagedList<Seesion1.Models.Account>
@using PagedList.Mvc;
@using PagedList;


    <span>
        @using (Html.BeginForm("List", "Accounts"))
        {
            <input type="text" name="search" required="required" />
            <input type="submit" value="Search" onclick="search()" onsubmit="return false" />
        }
    </span>
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Password
            </th>
            <th>
                Full Name
            </th>
            <th>
                Role
            </th>
            <th> <a href="/Accounts/Create/" role="button"><i class="fas fa-plus"></i></a></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rol)
                </td>
                <td>

                    <a class="buttons" href="/Accounts/Edit/@item.id.Trim()" role="button"><i class="fas fa-edit"></i></a>
                    <a class="buttons" href="/Accounts/Delete/@item.id" role="button"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }

    </table>

    <div id="myPager">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
       PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "search" }))
    </div>


*@