@model PagedList.IPagedList<WineStore.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p>
        Tìm kiếm tại đây: @Html.TextBox("Search")
        <input type="submit" value="Tìm kiếm" />
    </p>
}

<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ProductID
        </th>

        <th>
            @Html.ActionLink("ProductName", "Index", new { Sort = ViewBag.SortName })
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { Sort = ViewBag.SortPrice })
        </th>
        <th>
            @Html.ActionLink("CategoryID", "Index", new { Sort = ViewBag.SortCategory })
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CatalogyID)
            </td>
            <td>
                @{
                    string path = "~/image/" + item.Image;
                }
                <img src="@Url.Content(path)" width="100" class="img-thumbnail" />
                @Html.DisplayFor(modelItem => item.Image)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>


 Trang @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber)/@Model.PageCount
 @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))