
@{
    ViewBag.Title = "Index";
   @* Layout = "~/Views/Shared/_Layout1.cshtml";*@
}

@using (Html.BeginForm("Login","Login"))
{   
<div style="margin:auto;text-align:center;padding:20px">
    <div>@Html.Label("Sign in")</div>
    <div>
        @Html.Label("Username")
        @Html.TextBox("username")
    </div>
    <div>
        @Html.Label("Password")
        @Html.TextBox("password")
    </div>
    <div class="alert alert-danger">
        @ViewBag.alert
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</div>
}

